.gallery {
  margin: 50px 0 67px;
  max-width: 880px;
}

.gallery__cards {
  width: 100%;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.0625rem;
  grid-row-gap: 1.25rem;
  margin: 0;
  padding: 0;
}

.gallery__card {
  position: relative;
  width: 100%;
  max-width: 282px;
  display: flex;
  flex-direction: column;
}

.gallery__trash-button {
  padding: 0;
  width: 18px;
  height: 19.13px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.gallery__trash-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.gallery__image {
  width: 100%;
  max-width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.gallery__card-information {
  height: 79px;
  padding: 0 15px 0 21px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__card-name {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.815625rem;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gallery__like-button {
  padding: 0;
  border: none;
  background-color: #fff;
}

.gallery__like-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.gallery__like-button-image {
  width: 21px;
  height: 19px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    margin: 45px auto 50px;
  }

  .gallery__cards {
    max-width: 457px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }

  .gallery__card {
    max-width: 220px;
  }

  .gallery__image {
    max-width: 220px;
    height: 220px;
  }

  .gallery__card-information {
    height: 65px;
  }

  .gallery__card-name {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .gallery__like-button-image {
    width: 18px;
    height: 15px;
  }
}

@media screen and (max-width: 720px) {
  .gallery {
    margin: 50px auto 67px;
  }

  .gallery__cards {
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1.25rem;
    margin: auto;
  }

  .gallery__card {
    width: 100%;
    max-width: 282px;
    display: flex;
    flex-direction: column;
  }

  .gallery__image {
    width: 100%;
    max-width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
  }

  .gallery__card-information {
    height: 79px;
    padding: 0 15px 0 21px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .gallery__card-name {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.815625rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
