.page {
  margin: 0 auto;
  padding: 0 200px;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 0 50px;
  }
}

@media screen and (max-width: 430px) {
  .page {
    padding: 0;
  }
}
